name: Refresh TryHackMe Badge

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-badge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download latest badge
        run: |
          curl -L "https://tryhackme-badges.s3.amazonaws.com/NightAbyss.png?nocache=$(date +%s)" \
            --output thm_badge.png

      - name: Commit and push if changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Daily TryHackMe badge refresh"
          file_pattern: thm_badge.png
